doctype html
html(lang="en")
	head
		include ./head.jade
		title #{data.productName}
body
	.container
		include ./nav.jade
		.row
			.span7
				.imageBox
					.thumbnail.span1
					a.preview.span5
			.span4
				.imgPrice
					.imageTitle
						.productName
							h2 #{data.productName}

						.productSummary
							pre #{data.productSummary}
							.productPrice
								h5 Price: #{data.productPrice}
					.addToCartButton
						input.btn.btn-large.btn-primary.addToCart(value="Add To Cart")
		.row
			.span12
				.productDescription
					h3 Product Description
					pre #{data.productDescription}

		.row
			.span12
				table.table.table-condensed.table-bordered.table-striped.specTable
					tr
						th Specification
						th Value

						- var x = 0		//h1 #{JSON.stringify(data.specs))
					each spec, value in (data.specs)
						td #{value}
						td #{spec}
						tr
						//- if (++x%2 == 0)
							td #{spec}
							tr

						//-else
		hr
		h5 Reviews
		a.link(href='/newReview/#{data.productID}') Write a Review
		.reviews
			if reviews.length == 0
				p
					i Sorry there are no reviews for this product!
			if reviews.length > 0
				table.table.table-condensed.table-bordered
					tr
						th Author
						th Review
						th Rating
					each review in reviews
						tr
							td #{review.author}
							td
								table
									th #{review.reviewTitle}
									tr

									tr
										td #{review.review}

							td #{review.rating}/5






	script(type="text/javascript", onload="renderImages(#{JSON.stringify(data)});", src="/js/addProducts.js")


